@import './common/animations.css';

body {
  inset-start: 50%;
}

.inset-abs-x-y-center,
.test,
ul {
  inset-start: 50%;
  border: 1px;
  transform: translate(-50%, -50%);
}

.inset-abs-x-center {
  inset-inline-start: 50%;
  transform: translate(-50%, 0);
}

.inset-abs-y-center {
  inset-block-start: 50%;
  transform: translate(0, -50%);
}

.h-min-screen {
  min-height: 100%;
  min-height: calc(100vh - 48px);
}

.modal-wrapper {
  z-index: 9999;
}

/*
 #7. Activity Boxes
*/

.activity-boxes-w {
  .activity-box-w {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.8rem 0;

    &::before {
      content: '';

      /* left: 75px; */
      position: absolute;
      inset-block: 0;
      inset-inline-start: 0;
      display: block;
      width: 3px;
      background-color: rgb(192, 202, 221);
    }

    &::after {
      content: '';

      /* left: 80px; */
      position: absolute;
      inset-start: 50% 0;
      display: block;
      width: 20px;
      height: 1px;
      background-color: rgb(192, 202, 221);
    }

    &:first-child::before {
      inset-block-start: 50%;
    }

    &:last-child::before {
      inset-block-end: 50%;
    }
  }

  .activity-time {
    flex: 0 0 100px;

    /* padding-right: 40px; */
    padding: 0 10px;
    text-align: end;
  }

  .activity-box {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0.8rem;

    &::before {
      /* left: -30px; */
      content: '';
      position: absolute;
      z-index: 1;
      inset-start: 50% -106px;
      width: 12px;
      height: 12px;
      border: 2px solid rgb(96, 118, 159);
      border-radius: 20px;
      background-color: rgb(255, 255, 255);
      transform: translateY(-50%);
    }
  }

  .activity-avatar {
    border-radius: 50px;
    margin-inline-end: 1.1rem;
    overflow: hidden;
    width: 50px;

    img {
      height: auto;
      max-width: 100%;
    }
  }

  .activity-info {
    flex: 1;
  }

  .activity-role {
    margin-block-end: 0.2rem;
  }

  .activity-title {
    display: block;
  }
}
